div.error {
  border: 1px solid red;
  background: #fee;
  padding: 1em;
  margin: 1em 0;
  width: 600px;
  font-weight: bold;
}

form#global-sign-in {
  background: #eeeef6;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 1em 0;
  width: 600px;
}

form label {
  color: #444;
  margin-bottom: .2em;
}

form input {
  border: 1px solid #377ec6;
}

form#global-sign-in label {
  display: block;
  margin-top: 1em;
}

form#global-sign-in button {
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  overflow: visible;
  padding: 0;
  background: #70a4ec;
  border: 1px solid #3773c6;
  padding: 4px 16px;
  margin-top: 14px;
}

.global-pro-account p {
  font-size: 86%;
}

div.tip {
  margin: .5em 0;
  font-size: 90%;
}
