<style>
    h3 {
        margin-top:10px;
        margin-bottom: 10px;
    }
</style>
<form method="post">
    <%- helpers.xsrfTokenElement() %>

    <h3> Email addresses of users, one per line: </h3>
    <textarea name="addresses" style="width: 100%; height: 100px;"></textarea>

    <h3> Your email: </h3>
    <input type='text' name='destination' style='width: 100%;height:30px;'/>

    <br/>
    <input type="submit" value="Send Now"/>

</form>