<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeCss("global-pro-account.less") %>

<div class="fpcontent">
  <div class="global-pro-account">

  <h1>Recover Lost Account</h1>

  <%- errorDiv() %>

  <p>Enter your email address to recover your
  account information</p>

  <form id="global-sign-in" 
        action="<%= request.path %>" method="post">
    <%- helpers.xsrfTokenElement() %>
    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" size="30" 
      <% if (oldData.email) { %>value="<%= oldData.email %>"<% } %>
    />

    <br/>
    <button type="submit">Send account info</button>

  </form>

  <p><a href="/ep/pro-account/sign-in">&laquo;  Back to sign
  in</a></p>

  <hr>

  <p>New users: <a href="/ep/pro-signup/">create an account
  instantly</a>.</p>

  </div>
</div>


