<%partial userlist() %>
  <% helpers.includeJs("pad_userlist.js"); %>
  <% helpers.includeCss("user.less"); %>

  <div id="otherusers">
    <div id="otherusers-facepile-wrapper" data-tooltip="Show list" data-altTooltip="Hide list">
      <img id="otherusers-facepile" src="<%=helpers.cdn()%>/static/img/pixel.gif">
      <span class="connected"></span>
    </div>
    <div id="otheruserstable-wrapper"><ul id="otheruserstable" class="popup-scrollable"></ul></div>
  </div>

  <script id="template-user-list" type="text/html">
    <li id="XXX" title="XXX">
      <figure>
        <a>
          <span class="user-image">
            <img src="<%=helpers.cdn()%>/static/img/pixel.gif" data-src="XXX" alt="XXX">
            <span class="connected"></span>
          </span>
          <figcaption>
            <span>XXX</span>
            <img src="<%=helpers.cdn()%>/static/img/pixel.gif" class="killuser"
                alt="Remove User" role="button"
                data-userId="XXX" data-name="XXX">
          </figcaption>
        </a>
      </figure>
    </li>
  </script>
<%endpartial %>
