<div style="font-family: Verdana, sans-serif; margin-top: 2em; border: 1px solid #ccc; padding: 1em; background: #eee;">
  <p>You have been unsubscribed from <a href="<%=padUrl%>"><%=padTitle%></a>.</p>
</div>

