<% template.inherit('email/_base.ejs'); %>


<% template.define('content', function() { var ejs_data=''; %>

<p>We received a request to reset your Hackpad password.  To proceed, click the following link: </p>

<p> <%= recoverUrl %> </p>

<p>If you did not request a password reset, simply ignore this email. </p>

<% return ejs_data; }); %>
