<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeJQuery() %>
<%
  template.inherit("ui.ejs");
  helpers.includeJs("pro/guest-knock-client.js");
%>
<% helpers.includeJs("modals.js") %>
<% helpers.includeJs('jquery.validate.js'); %>
<% helpers.includeJs('jquery.placeholder.js'); %>
<% helpers.includeCss("pro/account.less") %>
<% helpers.includeCss("base.less") %>
<% helpers.facebookOpenGraphMetadata(); %>

<script type="text/javascript" nonce="<%= helpers.cspNonce() %>">
$(document).ready(function(){
  modals.showModal("#request-access", 0);
  $("#modaloverlay").hide();

  trackEvent('requestAccess');
});


</script>

  <div id="guest-knock-box" style="min-height:500px">
    <div class="modaldialog" id="request-access" style="">
      <h1>Request Access</h1>
      <div class="modaldialog-inner" id="request-access">
      <p>
        <!--img src="/static/img/status-ball.gif"-->
        Oops, you don't currently have access to this hackpad   <br/><br/>
        <form action="/ep/account/guest/guest-request-access" method="POST" onsubmit="modals.submitModal(this); return false;">
          <%- helpers.xsrfTokenElement() %>
          <%- template.use('button', null, { buttonType: 'submit', label: 'Request Access' }); %>
          <input name="padId" type="hidden" value="<%=localPadId%>">
        </form>
      </p>
      </div>
    </div>
  </div>

<div id="guest-knock-denied">
  Access Denied.
</div>

