Hello <%=account.fullName%>,

<p>
Your Hackpad password was recently updated.<br/>  If you did not update your password,
please contact <a href="mailto://<%=supportAddress%>"><%=supportAddress%></a> as soon as possible.
</p>

<p>The Hackpad Team</a>