#backtoadmin {
  color: #88f;
  padding: 4px;
  text-decoration: none;
}

#topnav {
  margin-top: .5em;
  margin-bottom: 1em;
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
}

#topnav ul {
  padding: 0;
  margin: 0 0 0 12px;
}

#topnav ul li {
  float: left;
  display: inline;
}
#topnav ul li a {
  display: block;
  padding: .4em 1em;
  text-decoration: none;
  color: blue;
}
#topnav ul li.selected a {
  background: #fff;
  color: black;
  border-bottom: 1px solid black;
}

/* ----- */

/*.statbox {
  display: box;
  overflow: hidden;
  padding-left: 8px;
}
*/

.latesttable {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.latesttable td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px 6px;
}

/*
.statbox table td span { }

.statbox .stat-title {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  margin-top: 1em;
}

.statbox .stat-table {
  float: left;
  padding: 4px;
}
.statbox .stat-graph {
  float: left;
}
*/
form#statprefs {
  background: #eee;
  padding: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
}

a.viewall {
  margin-left: 8px;
}

div.statentry {
/*   width: 800px;*/
   border: 1px solid #060;
   background: #afa;
   margin: 1em;
}

body {
   margin: 0;
   min-width: 800px;
}

div.warning {
   background: #ffa;
   border: 1px solid #630;
}

div.error {
   background: #faa;
   border: 1px solid #600;
}

.statentry h2 {
   font-size: 13pt;
   font-family: sans-serif;
   background: #0a0;
   color: white;
   padding: 5px;
   margin: 0;
   cursor: pointer;
}

.statentry h3 {
   font-size: 13pt;
   font-family: sans-serif;
   font-weight: normal;
   margin: 3px;
   padding: 0;
}

.statentry h4 {
   font-size: 12pt;
   font-weight: bold;
   margin: 3px;
}

.statentry h2:hover {
   text-decoration: underline;
}

.warning h2 {
   background: #ea0;
}

.error h2 {
   background: #a00;
}

.statentry table {
   width: 100%;
}

.statentry .graph {
   background: white;
   padding: 2px;
   width: 600px;
}

.graph .datalinks {
   margin-top: 10px;
   font-size: .8em;
   text-align: right;
   color: gray;
}

.graph .datalinks a {
   color: gray;
}

.statentry .latest {
   background: white;
   vertical-align: top;
   font-size:;
}

.statbody {
   display: none;
}

/*div.categorywrapper {
   -moz-column-width: 500px;
   -moz-column-gap: 20px;
   -webkit-column-width: 500px;
   -webkit-column-gap: 20px;
   column-width: 500px;
   column-gap: 20px;
}*/