ajstdlibHome = ../infrastructure/framework-src/modules
appjetHome = ./data/appjet
devMode = false
etherpad.fakeProduction = false
etherpad.fakePNE = true
etherpad.isProduction = true
etherpad.proAccounts = true
etherpad.superUserEmailAddresses = __email_addresses_with_admin_access__
etherpad.SQL_JDBC_DRIVER = com.mysql.jdbc.Driver
etherpad.SQL_JDBC_URL = jdbc:mysql://__dbc_dbserver__:__dbc_dbport__/__dbc_dbname__
etherpad.SQL_PASSWORD = __dbc_dbpass__
etherpad.SQL_USERNAME = __dbc_dbuser__
etherpad.SQL_REQUIRE_SSL = false
etherpad.googleConsumerKey = __google_consumer_key__
etherpad.googleConsumerSecret = __google_consumer_secret__
hidePorts = false
listen = 9000
logDir = /var/log/etherpad
modulePath = ./src
topdomains = localhost,localhost.localdomain
transportPrefix = /comet
transportUseWildcardSubdomains = true
useHttpsUrls = false
useVirtualFileRoot = ./src
theme = default
etherpad.soffice = /usr/bin/soffice
customBrandingName = Hackpad
customEmailAddress = noreply@example.com
facebookClientId = __fb_id__
facebookClientSecret = __fb_secret__
smtpUser = __smtp_user__
smtpPass = __smtp_password__
awsUser = __aws_key_id__
awsPass = __aws_secret__
s3Bucket = __aws_attachments_bucket__
s3Region = us-east-1
solrHostPort = 127.0.0.1:9000
solrOnly = false
etherpad.syndicateChanges = true
etherpad.processInbox = true
secureCookieKey = __secure_cookie_key__
requestSigningSecret = __request_signing_secret__
apnsCert.appStore.certFile = __apns_p12_cert_file__
apnsCert.appStore.certPass = __apns_p12_cert_password__
apnsCert.beta.certFile = __apns_p12_cert_file__
apnsCert.beta.certPass = __apns_p12_cert_password__
apnsCert.debug.certFile = __apns_p12_cert_file__
apnsCert.debug.certPass = __apns_p12_cert_password__
cdnUrl = __cdn_url__
mixpanelToken = __mixpanel_token__
googleAnalyticsAccount = __google_analytics_account__
googleAnalyticsDomainName = __google_analytics_domain_name__
defaultIdEncryptionKey = __default_id_encryption_key__
accountIdEncryptionKey = __account_id_encryption_key__
collectionIdEncryptionKey = __collection_id_encryption_key__
welcomePadSourceId = __welcome_pad_source_id__
featureHelpPadId = __feature_help_pad_source_id__
